<h1>Steve Jobs </h1>
<p> Steven Paul Jobs ​​​​ fue un empresario, diseñador industrial, magnate empresarial, propietario de medios e inversor
	estadounidense. Fue cofundador y presidente ejecutivo de Apple​ y máximo accionista individual de The Walt Disney
	Company.​</p>

<a href="http://localhost:3000/">HOME</a>