<h1>WORKS</h1>

<a>Fue creador del primer ordenador personal y fundador de Apple Computer, una empresa innovadora en el sector de la
    informática. Se caracterizó por tener ideas visionarias en el campo de los ordenadores personales, la telefonía
    móvil y la música digital.</a>
<a>¿Qué hizo Steve Jobs para cambiar el mundo?
    5 inventos de Steve Jobs que cambiaron al mundo
    1- COMPUTADORES CON FUENTES TIPOGRÁFICAS (MACINTOSH, iMAC, MAC BOOK) ...
    2- SERVICIOS DE STREAMING (iTUNES STORE) ...
    3- TELÉFONOS INTELIGENTES (iPHONE) ...
    4- TELEVISORES CON CONEXIÓN A INTERNET (APPLE TV) ...
    5- LAS TABLETAS COMERCIALES (iPAD) ...
    EXTRA- DISNEY PIXAR.</a>
<a href="/">HOME</a>